html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}
.thumb_text{
	position: absolute;
	font-size: 14px;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
	font-family: 'Roboto', Arial !important; font-weight: 400;
}
.ht_info, .ht_zoom{
	display: block;
	background: #3AAB47;
	color: rgba(255,255,255,0);
	font-size: 12px;
	text-align: center;
	padding: 6px 10px;
	margin-bottom: 20px;
	position: relative;
	width: 10px;
	transition:All 0.3s ease;-webkit-transition:All 0.3s ease;-moz-transition:All 0.3s ease;-o-transition:All 0.3s ease;

}
.ht_info:hover, .ht_zoom:hover{
	width: auto;
	color: rgba(255,255,255,1);
	z-index: 99;
	background-image: none;
}
.ht_info:before, .ht_zoom:before{
	display: block;
	content: ' ';
	width:100%;
	height: 100%;
	background: #3AAB47 url(info_icon.png) no-repeat center 6px;
	opacity: 1;
	position: absolute;
	left:0;
	top:0;
}
.ht_info:hover:before, .ht_zoom:hover:before{
	opacity: 0;

}
.ht_info:after, .ht_zoom:after{
	content: ' ';
	display: block;
	width: 22px;
	height: 22px;
	background: #3AAB47;
	transform: scaleY(0.5) rotate(45deg) ;
	position: absolute;
	bottom: -11px;
	left: 4px;
	z-index: -1;
}
.ht_zoom{background: #4A90E2;}
.ht_zoom:before{background: #4A90E2 url(zoom_icon.png) no-repeat center 6px;}
.ht_zoom:after{background: #4A90E2;}