@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-ExtraLight.eot');
    src: local('Navigo ExtraLight'), local('Navigo-ExtraLight'),
        url('fonts/Navigo-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-ExtraLight.woff2') format('woff2'),
        url('fonts/Navigo-ExtraLight.woff') format('woff'),
        url('fonts/Navigo-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Thin.eot');
    src: local('Navigo Thin'), local('Navigo-Thin'),
        url('fonts/Navigo-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Thin.woff2') format('woff2'),
        url('fonts/Navigo-Thin.woff') format('woff'),
        url('fonts/Navigo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Black.eot');
    src: local('Navigo Black'), local('Navigo-Black'),
        url('fonts/Navigo-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Black.woff2') format('woff2'),
        url('fonts/Navigo-Black.woff') format('woff'),
        url('fonts/Navigo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Medium.eot');
    src: local('Navigo Medium'), local('Navigo-Medium'),
        url('fonts/Navigo-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Medium.woff2') format('woff2'),
        url('fonts/Navigo-Medium.woff') format('woff'),
        url('fonts/Navigo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Light.eot');
    src: local('Navigo Light'), local('Navigo-Light'),
        url('fonts/Navigo-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Light.woff2') format('woff2'),
        url('fonts/Navigo-Light.woff') format('woff'),
        url('fonts/Navigo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Regular.eot');
    src: local('Navigo Regular'), local('Navigo-Regular'),
        url('fonts/Navigo-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Regular.woff2') format('woff2'),
        url('fonts/Navigo-Regular.woff') format('woff'),
        url('fonts/Navigo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('fonts/Navigo-Bold.eot');
    src: local('Navigo Bold'), local('Navigo-Bold'),
        url('fonts/Navigo-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Navigo-Bold.woff2') format('woff2'),
        url('fonts/Navigo-Bold.woff') format('woff'),
        url('fonts/Navigo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.map{
    background: black url("images/map_bg.png") repeat center center;
}
    
.glass{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.s-title{
    font-family: 'Navigo';
    font-weight: normal;
    mix-blend-mode: overlay;
    text-shadow: 0 0 1px black;
}

.menu-container {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius:76px;
}

#arrow_menu, .arrow_menus {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius:112px;
}

#inf-wnd{

    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius:20px;
    padding:0 40px 40px 40px;
    font-family:"Navigo", Navigo;
    font-size: 16px;
    line-height:20px;
    background: rgba(255,255,255, 0.4);
    padding: 36px;
    position: relative;
}
#help-wnd{
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius:20px;
    padding:0 60px 40px 60px;
    font-family:"Navigo", Navigo;
    font-size: 16px;
    line-height:22px;
    background: white;
    padding: 36px;
    position: relative;
}

#inf-wnd:after{
content: ' ';
cursor: pointer;
display: block;
width: 38px;
height: 38px;
background:transparent url("images/up-button.svg") no-repeat center center;
position: absolute;
top: 20px;
right: 20px;
z-index: 2;
}

#inf-wnd:hover:after{
    background: transparent url("images/up-button-hover.svg") no-repeat center center;

}

#inf-wnd:hover:after{
    background: transparent url("images/up-button-hover.svg") no-repeat center center;

}

#inf-wnd h2, #help-wnd h2{
    color:#2b5e4a;
    font-weight:500;
    font-size: 28px;
    line-height: 36px;
    font-family:"Navigo", Navigo;
}

.subtitle{
    border-radius:0 0 60px 60px;
    overflow: hidden;

}