.glass{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.s-title{
    font-family: Navigo;
    font-weight: bold;
}

.menu-container {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius:76px;
}